<div class='row'>
  <div class='col-md-5'>
    <div class="panel panel-default">
      <div class="panel-heading"><%= odk_mapping.field_name %></div>
      <div class="panel-body">
        <%= odk_mapping.field_type %>
      </div>
    </div>
  </div>
</div>