---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9QDx8IX8nP5Qy8wN2NJIM_l7G0bhjf6US16ioh4W.OffFYGVqZUzwDO3ZULTmdZRHnptq6U5jWDjq4n4C&client_secret=117412098672293366&username=td%40vera.dev&password=Chapin86%21cOARfUN4a9EfdbHmSjuZVe7Sq
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00DU0000000KrrwMAC/005U0000000a3wnIAA","issued_at":"1416298894317","token_type":"Bearer","instance_url":"https://na12.salesforce.com","signature":"UJZX05lOvRaYpScmHclTrVE5McLb2w3+gYEUi3ZZQs8=","access_token":"00DU0000000Krrw!AQgAQABwtnOxH0Wicl64dRSmW_Zloa8_fGmtrjbp_02WP9KakhzNeqdLobwqBKw_WWhiM0_BFAF7T4BpW1cf19lTsqaHn7Hg"}'
  recorded_at: Tue, 18 Nov 2014 08:21:33 GMT
- request:
    method: post
    uri: https://na12.salesforce.com/services/data/v26.0/sobjects/vera__Test_Event__c
    body:
      encoding: UTF-8
      string: '{"vera__ODK_Key__c":"uuid:76e2641d-6d6b-4f15-9758-91ec246ff084","vera__Start_Date__c":"2014-11-11","vera__Test_Event_Name_Unique__c":"Catalina
        wine mixer"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00DU0000000Krrw!AQgAQABwtnOxH0Wicl64dRSmW_Zloa8_fGmtrjbp_02WP9KakhzNeqdLobwqBKw_WWhiM0_BFAF7T4BpW1cf19lTsqaHn7Hg
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=113/15000
      Location:
      - "/services/data/v26.0/sobjects/vera__Test_Event__c/a0qU0000002YpNAIA0"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"a0qU0000002YpNAIA0","success":true,"errors":[]}'
  recorded_at: Tue, 18 Nov 2014 08:21:35 GMT
- request:
    method: post
    uri: https://na12.salesforce.com/services/data/v26.0/sobjects/vera__Boat__c
    body:
      encoding: UTF-8
      string: '{"Name":"Big boat","vera__Boat_Maker__c":"Big boat","vera__odk_key__c":"uuid:76e2641d-6d6b-4f15-9758-91ec246ff084","vera__Test_Event__c":"a0qU0000002YpNAIA0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00DU0000000Krrw!AQgAQABwtnOxH0Wicl64dRSmW_Zloa8_fGmtrjbp_02WP9KakhzNeqdLobwqBKw_WWhiM0_BFAF7T4BpW1cf19lTsqaHn7Hg
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=113/15000
      Location:
      - "/services/data/v26.0/sobjects/vera__Boat__c/a0sU0000008Mj2sIAC"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"a0sU0000008Mj2sIAC","success":true,"errors":[]}'
  recorded_at: Tue, 18 Nov 2014 08:21:37 GMT
- request:
    method: post
    uri: https://na12.salesforce.com/services/data/v26.0/sobjects/vera__Boat__c
    body:
      encoding: UTF-8
      string: '{"Name":"Catamaran","vera__Boat_Maker__c":"Catamaran","vera__odk_key__c":"uuid:76e2641d-6d6b-4f15-9758-91ec246ff084","vera__Test_Event__c":"a0qU0000002YpNAIA0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00DU0000000Krrw!AQgAQABwtnOxH0Wicl64dRSmW_Zloa8_fGmtrjbp_02WP9KakhzNeqdLobwqBKw_WWhiM0_BFAF7T4BpW1cf19lTsqaHn7Hg
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Sforce-Limit-Info:
      - api-usage=113/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"duplicate value found: vera__odk_key__c duplicates value
        on record with id: a0sU0000008Mj2s","errorCode":"DUPLICATE_VALUE","fields":[]}]'
  recorded_at: Tue, 18 Nov 2014 08:21:39 GMT
[...]
- request:
    method: post
    uri: https://na12.salesforce.com/services/data/v26.0/sobjects/vera__Car__c
    body:
      encoding: UTF-8
      string: '{"Name":"Peugeot","vera__odk_key__c":"uuid:76e2641d-6d6b-4f15-9758-91ec246ff084","vera__Test_Event__c":"a0qU0000002YpNAIA0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00DU0000000Krrw!AQgAQABwtnOxH0Wicl64dRSmW_Zloa8_fGmtrjbp_02WP9KakhzNeqdLobwqBKw_WWhiM0_BFAF7T4BpW1cf19lTsqaHn7Hg
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=113/15000
      Location:
      - "/services/data/v26.0/sobjects/vera__Car__c/a0tU0000009cg3aIAA"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"a0tU0000009cg3aIAA","success":true,"errors":[]}'
  recorded_at: Tue, 18 Nov 2014 08:21:42 GMT
recorded_with: VCR 2.9.3
