---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9QDx8IX8nP5Qy8wN2NJIM_l7G0bhjf6US16ioh4W.OffFYGVqZUzwDO3ZULTmdZRHnptq6U5jWDjq4n4C&client_secret=117412098672293366&username=td%40vera.dev&password=Chapin86%21cOARfUN4a9EfdbHmSjuZVe7Sq
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00DU0000000KrrwMAC/005U0000000a3wnIAA","issued_at":"1437505710638","token_type":"Bearer","instance_url":"https://na12.salesforce.com","signature":"hayw9scgU+oHrAqJjXQGffbvo607jk8fvbiwyrsuSow=","access_token":"00DU0000000Krrw!AQgAQD1ZrjXLlQvy7i6SqBNdn4TiZ0EpyNE_jeIvk.Q4FuDioNXPmXqoZIthTHdOzpQCKLdbgCpZ.aXSNLWvgCyF2AljyNxf"}'
  recorded_at: Tue, 21 Jul 2015 19:08:31 GMT
- request:
    method: post
    uri: https://na12.salesforce.com/services/data/v26.0/sobjects/vera__Test_Event__c
    body:
      encoding: UTF-8
      string: '{"vera__Test_Event_Name_Unique__c":"Taylor"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00DU0000000Krrw!AQgAQD1ZrjXLlQvy7i6SqBNdn4TiZ0EpyNE_jeIvk.Q4FuDioNXPmXqoZIthTHdOzpQCKLdbgCpZ.aXSNLWvgCyF2AljyNxf
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=40/15000
      Location:
      - "/services/data/v26.0/sobjects/vera__Test_Event__c/a0qU000000IlyYhIAJ"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"a0qU000000IlyYhIAJ","success":true,"errors":[]}'
  recorded_at: Tue, 21 Jul 2015 19:08:33 GMT
- request:
    method: post
    uri: https://na12.salesforce.com/services/data/v26.0/sobjects/vera__Boat__c
    body:
      encoding: UTF-8
      string: '{"Name":"Maisie","vera__Test_Event__c":"a0qU000000IlyYhIAJ"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00DU0000000Krrw!AQgAQD1ZrjXLlQvy7i6SqBNdn4TiZ0EpyNE_jeIvk.Q4FuDioNXPmXqoZIthTHdOzpQCKLdbgCpZ.aXSNLWvgCyF2AljyNxf
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=40/15000
      Location:
      - "/services/data/v26.0/sobjects/vera__Boat__c/a0sU000000EfAGRIA3"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"a0sU000000EfAGRIA3","success":true,"errors":[]}'
  recorded_at: Tue, 21 Jul 2015 19:08:34 GMT
[...]
- request:
    method: delete
    uri: https://na12.salesforce.com/services/data/v26.0/sobjects/vera__Test_Event__c/a0qU000000IlyYhIAJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00DU0000000Krrw!AQgAQD1ZrjXLlQvy7i6SqBNdn4TiZ0EpyNE_jeIvk.Q4FuDioNXPmXqoZIthTHdOzpQCKLdbgCpZ.aXSNLWvgCyF2AljyNxf
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=43/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jul 2015 19:08:34 GMT
- request:
    method: delete
    uri: https://na12.salesforce.com/services/data/v26.0/sobjects/vera__Boat__c/a0sU000000EfAGRIA3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00DU0000000Krrw!AQgAQD1ZrjXLlQvy7i6SqBNdn4TiZ0EpyNE_jeIvk.Q4FuDioNXPmXqoZIthTHdOzpQCKLdbgCpZ.aXSNLWvgCyF2AljyNxf
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Sforce-Limit-Info:
      - api-usage=41/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"entity is deleted","errorCode":"ENTITY_IS_DELETED","fields":[]}]'
  recorded_at: Tue, 21 Jul 2015 19:08:35 GMT
recorded_with: VCR 2.9.3
