<div class="form-group">
  <label class="control-label">[Salesforce] Table(s)&nbsp;
    <i class="fa fa-refresh"></i>
  </label>
  <div class="controls">

    <div class="input-group">

      <input type="text" class="form-control" aria-label="..." placeholder="Event 1">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="#">Refresh</a></li>
          <li><a href="#">Remove</a></li>
          <li class="divider"></li>
          <li><a href="#">Repeat Block Destination?</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->

    <br>
    <div class="input-group">

      <input type="text" class="form-control" aria-label="..." placeholder="Contact 2 (rbd)">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="#">Refresh</a></li>
          <li><a href="#">Remove</a></li>
          <li class="divider"></li>
          <li><a href="#">Repeat Block Destination?</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
    <br>
    <div class="input-group">

      <input type="text" class="form-control" aria-label="..." placeholder="Boat Sale 3 (rbd)">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="#">Refresh</a></li>
          <li><a href="#">Remove</a></li>
          <li class="divider"></li>
          <li><a href="#">Repeat Block Destination?</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
    <br>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Add table <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
        <a role="menuitem" tabindex="-1" href="#">Action</a>
        </li>
        <li role="presentation">
        <a role="menuitem" tabindex="-1" href="#">Another action</a>
        </li>
        <li role="presentation">
        <a role="menuitem" tabindex="-1" href="#">Something else here</a>
        </li>
        <li role="presentation">
        <a role="menuitem" tabindex="-1" href="#">Separated link</a>
        </li>
      </ul>
    </div>
  </div>
</div>
