<div class="row" ng-hide="mapping.state.new">
  <div class="col-md-5">
    <div class="btn-group">
      <button 
        type="button" 
        class="btn btn-default dropdown-toggle" 
        data-toggle="dropdown" 
        aria-expanded="false">
        Source 
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Open Data Kit</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-2">
    <h1 align="center">
      <i class="fa fa-arrow-circle-right"></i>
    </h1>
  </div>
  <div class="col-md-5">
    <div class="btn-group">
      <button 
        type="button" 
        class="btn btn-default dropdown-toggle" 
        data-toggle="dropdown" 
        aria-expanded="false">
        Destination 
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Salesforce</a></li>
      </ul>
    </div>
  </div>
</div>
