<div class="ideas">
  <header class="header-image">
    <div class="headline">
      <h1><i class="fa fa-user"></i> create <strong>Account</strong></h1>
      <h3>Go ahead and <strong>start connecting</strong> for free. Seriously.</h3>
    </div>
  </header>
</div>

<div ng-controller="UserController as userCtrl">
  <div class="featurette dark">
    <hr class="light">
    <hr class="dark">
    <br>
    <div class="row">
        


     <div class="container col-md-6 col-md-offset-3">
            <h4>ODK / SurveyCTO</h4>

      

        <form ng-submit="submitODKForm()">
        <h5>Instance URL</h5>
          <input type="text" class="form-control" name = "odk_url" placeholder="Instance URL" ng-model="odkData.odk_url">
          <h5>Username</h5>
          <input type="text" class="form-control" name = "odk_username" placeholder="Username" ng-model="odkData.odk_username">
          <h5>Password</h5>
          <input type="password" class="form-control" name = "odk_password" placeholder="Password" ng-model="odkData.odk_password">
          <input type="hidden" name="subscription_plan" ng-model="odkData.subscription_plan">
          <button type="submit" class="btn btn-success btn-lg btn-block">
            Update
          </button>              
        </form>

        </div>


        <div class="container col-md-6 col-md-offset-3">
              <h4>Salesforce.com</h4>


        <form ng-submit="submitSFForm()">
          <input type="text" class="form-control" name = "sf_username" placeholder="Username" ng-model="sfData.sf_username">
          <input type="password" class="form-control" name = "sf_password" placeholder="Password" ng-model="sfData.sf_password">
          <h5 id="security_token">Security Token
          <i class="fa fa-question-circle"></i></h5>
          <input type="text" class="form-control" name = "sf_security_token" placeholder="Security Token" ng-model="sfData.sf_security_token">
          <div id="security_token_help" style="display:none;"><br>
            <p>1. Search “security token” in your email to see if you've received a security token in the past. (If you have, go to step 5.)</p>
            <p>2. To reset or create a new security token, click your name and “Setup” in Salesforce</p>
            <p>3. Go to “Personal Information” and click “reset your security token”.</p>
            <p>4. Read the warnings, then click “Reset Security Token”.</p>
            <p>5. Copy your security token from your email and paste it here.</p>
          </div>

          <h5 id="consumer_key">Consumer Key
          <i class="fa fa-question-circle"></i></h5>
          <input type="text" class="form-control" name = "sf_app_key" placeholder="Consumer Key" ng-model="sfData.sf_app_key">
          <div id="consumer_key_help" style="display:none;"><br>
                  <p>1. Goto “Apps” (in the “App Setup” / “Create” section) in your Salesforce Setup menu.</p>
                  <p>2. Click “New” in the “Connected Apps” section at the bottom of the page.</p>
                  <p>3. Type “OpenFn” in the “Connected App Name” field.</p>
                  <p>4. Type “OpenFn” in the “API Name” field.</p>
                  <p>5. Type your email in the “Contact Email” field.</p>
                  <p>6. Click “Enable OAuth Settings” in the “API (Enable OAuth Settings)” section.</p>
                  <p>7. Enter “https://login.salesforce.com” in the “Callback URL” field.</p>
                  <p>8. Add “Access and manage your data (api)” in the “Available OAuth Scopes” section.</p>
                  <p>9. Click “Save”.</p>
                  <p>10. Copy the “Consumer Key” and paste it here.</p>
                  <p>11. Click to reveal your “Consumer Secret”, then copy it and paste it here.</p>
              </div>
          <h5>Consumer Secret</h5>
          <input type="text" class="form-control" name = "sf_app_secret" placeholder="Consumer Secret" ng-model="sfData.sf_app_secret">
          
          <input type="hidden" name="subscription_plan" ng-model="sfData.subscription_plan">

          <button type="submit" class="btn btn-success btn-lg btn-block">
            Update
          </button>              
        </form>


          
            


           <!--  <div class="form-group">
              <%= f.label :sf_host, "Salesforce Org Type" %>
              <br>
              <%= f.select :sf_host, class: 'form-control' do %>
                <% [['Production', "login.salesforce.com"], ['Sandbox', "test.salesforce.com"]].each do |c| -%>
                  <%= content_tag(:option, c.first, value: c.last) %>
                <% end %>
              <% end %>
            </div> -->









        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#security_token").click(function(){
      $("#security_token_help").slideToggle("fast", function() {
      });
    });;
    $("#consumer_key").click(function(){
      $("#consumer_key_help").slideToggle("fast", function() {
      });
    });
  });
</script>

