<div ng-controller="UserController as userCtrl">
  <div class="featurette dark">
    <hr class="light">
    <hr class="dark">
    <br>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">


      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            
            ODK / SurveyCTO
          </a>
        </h4>
      </div>

      <div id="collapseTwo" class="panel-collapse " role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">


        <form ng-submit="submitODKForm()">
          <input type="text" class="form-control" name = "odk_url" placeholder="Instance URL" ng-model="odkData.odk_url">
          <input type="text" class="form-control" name = "odk_username" placeholder="Username" ng-model="odkData.odk_username">
          <input type="password" class="form-control" name = "odk_password" placeholder="Password" ng-model="odkData.odk_password">
          <input type="hidden" name="subscription_plan" ng-model="odkData.subscription_plan">
          <button type="submit" class="btn btn-success btn-lg btn-block">
            Update
          </button>              
        </form>

        </div>
      </div>


      </div>
    </div>
      </div>
    </div>
  </div>
</div>
