<%= render "shared/error_messages", target: @user %>
<div class="ideas">
  <header class="header-image">
    <div class="headline">
      <h1><i class="fa fa-user"></i> your <strong>Account</strong></h1>
      <h3>Manage credentials and your <strong>plan</strong>.</h3>
    </div>
  </header>
</div>
<%= render 'form', user: @user %>