<%= render "shared/error_messages", target: @user %>
<div class="ideas">
  <header class="header-image">
    <div class="headline">
      <h1><i class="fa fa-user"></i> create <strong>Account</strong></h1>
      <h3>Go ahead and <strong>start connecting</strong> for free. Seriously.</h3>
    </div>
  </header>
</div>
<%= render 'form', user: @user %>

