<div class='row'>
  <div class='col-md-5'>
    <div class="panel panel-default">
      <div class="panel-heading"><%= mapping_field.odk_field_name %></div>
      <div class="panel-body">
        <%= mapping_field.odk_field_type %>
      </div>
    </div>
  </div>

  <div class='col-md-5 col-md-offset-2'>
    <%= mapping_field.salesforce_object_field_name %>
  </div>
</div>