  <div class="footer-shadow-xs"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <p class="text-center">
          openFn is a non-profit and all of our code is open source.
          <br><br>
          <a href="https://github.com/OpenFn/OpenFn-Site" target="_blank">
            Join our developers <i class="fa fa-github fa-lg"></i>
          </a>, 
          <a href="mailto:admin@openfn.org" target="_blank">
           get in touch <i class="fa fa-envelope-o fa-lg"></i>
          </a>, or follow us on 
          <a href="https://www.facebook.com/openfn" target="_blank">
            <i class="fa fa-facebook fa-lg"></i> 
          </a>, 
          <a href="https://twitter.com/openfn" target="_blank">
            <i class="fa fa-twitter fa-lg"></i>
          </a> , and 
          <a href="https://medium.com/@openFn/" target="_blank">
            <i class="fa fa-medium fa-lg"></i>
          </a> .
        </p>
      </div>
    </div>
  </div>