<div class="ideas">
    <footer>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <p class="text-center">
            Open[Fn] needs your help. We're currently seeking editors, developers, and funding.
            <br>Contact us if you'd like to pitch in. We believe in open-source, and all of our code is available on Github under the GPLv3.0 license.
          </p>
        </div>
      </div>
      <div class="row">
        <p class="text-center">
          <a href="mailto:admin@openfn.org">
            <i class="fa fa-envelope-o fa-2x"></i>
          </a>
          &nbsp;
          <a href="https://github.com/OpenFn/OpenFn-Site" target="_blank">
            <i class="fa fa-github fa-2x"></i>
          </a>
        </p>
      </div>
    </footer> 
  </div>
</div>