<div id="errorExplanation" class='text-danger' ng-show="errors">
  <ul>
    <li ng-repeat="error in errors">{{error}}</li>
  </ul>
</div>

<h4>Fill out your mapping details</h4>

<div class="form-group">
  <label for="mapping_name">Name</label>
  <input type="text" ng-model="mapping.name" class='form-control' />
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" ng-model='mapping.active' ng-checked='mapping.active'> Active
  </label>
</div>

<h4><small>Your ODK Form:</small> {{mapping.odk_form.name}}</h4>

<h4>Step 2: Load your Salesforce Objects by order of insertion</h4>
<div class="row well sf-row" bs-affix data-offset-top="425" data-on-affix="onAffix()" data-on-unaffix="onUnaffix()">
  <div class='col-md-12' ng-include="'/ng_templates/mappings/sf_row.html'"></div>
</div>

<div class='row odk-row'>
  <div class='col-md-12' ng-include="'/ng_templates/mappings/odk_column.html'"></div>
</div>