<h4>1. Select an ODK Field</h4>

<div class="form-group">
  <label for="mapping_odk_formid">Open Data Kit Form</label>
  <select ng-disabled="editMode" ng-model="mapping.odk_formid" ng-options="o as o for o in odkForms" class='form-control'></select>
</div>

<div class="form-group">
  <input ng-model="odkFilter.field_name" type='text' placeholder="Filter ODK fields" class='form-control' />
</div>

<div class='external-field-holder'>
  <ul class='list-group odk-connected-sortable sortable-location' ui-sortable="odkSortableOptions" ng-model="odkFormFields">
    <li class='list-group-item' ng-repeat="odkFormField in odkFormFields | filter: odkFilter">
      {{odkFormField.field_name}}
    </li>
  </ul>
</div>