<div ng-controller="OdkColumnCtrl">
  <h4>ODK Form Object</h4>

  <div class='row'>
    <div class='col-md-4'>
      <div class="form-group">
        <!-- <label for="mapping_odk_formid">Open Data Kit Form</label> -->
        <select ng-model="mapping.odk_formid" ng-options="o as o for o in odkForms" class='form-control'></select>
      </div>
    </div>
    <div class='col-md-8'>
      <div class="form-group">
        <input ng-model="odkFilter.field_name" type='text' placeholder="Filter ODK fields" class='form-control' />
      </div>
    </div>
  </div>

  <table class='table'>
    <thead>
      <tr>
        <th>ODK Field Name</th>
        <th>Salesforce Field</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="odkFormField in odkFormFields" ng-controller="OdkFormFieldCtrl">
        <td>{{odkFormField.field_name}}: {{odkFormField.field_type}}</td>
        <td style='width: 50%'>
          <ul class="list-group sortable-location sf-connected-sortable"
              ui-sortable="sfSortableOptions" ng-model="odkFormField.sf_fields">
            <li class="list-group-item" ng-repeat="sfField in odkFormField.sf_fields" ng-style="{'background-color': sfField.color}">
              <input type="checkbox" ng-model="sfField.is_lookup"></input>
              {{sfField.field_name}}
              <div ng-show="sfField.is_lookup">
                <div ng-controller="LookupObjectCtrl">
                  <div ng-include="'/ng_templates/mappings/lookup_object.html'"></div>
                </div>
              </div>
            </li>
          </ul>
        </td>
        <td>
          <a href='#' ng-hide="_destroy" ng-click="toggleDeleteSfObject()" class='btn btn-warning'>
            Remove
          </a>

          <a href='#' ng-show="_destroy" ng-click="toggleDeleteSfObject()" class='btn btn-danger'>
            Undo Remove
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
