<div ng-controller="OdkColumnCtrl">
  <h4>ODK Form Object</h4>

  <div class="form-group">
    <label for="mapping_odk_formid">Open Data Kit Form</label>
    <select ng-model="mapping.odk_formid" ng-options="o as o for o in odkForms" class='form-control'></select>
  </div>

  <div class="form-group">
    <input ng-model="odkFilter.field_name" type='text' placeholder="Filter ODK fields" class='form-control' />
  </div>

  <table class='table'>
    <thead>
      <tr>
        <th>ODK Field Name</th>
        <th>Salesforce Field</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="odkFormField in odkFormFields" ng-controller="OdkFormFieldCtrl">
        <td>{{odkFormField.field_name}}: {{odkFormField.field_type}}</td>
        <td>
          <ul class="list-group sortable-location sf-connected-sortable" 
              ui-sortable="sfSortableOptions" ng-model="odkFormField.sf_fields">
            <li class="list-group-item" ng-repeat="sfField in odkFormField.sf_fields">
              {{sfField.field_name}}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
