<div ng-controller="SfColumnCtrl">
  <h4>SF Fields</h4>
  <label for="salesforce_object_name">SalesForce Object</label>
  <select ng-model="mapping.salesforceObjectName" ng-options="sfObj.name as sfObj.label for sfObj in salesforceObjects" class='form-control'>
    <option value=""></option>
  </select>

  <ul class="nav nav-tabs">
    <li ng-repeat="sfObject in mapping.mappingSalesforceObjects">
      <a href="#{{sfObject.name}}" data-toggle="tab">
        <span ng-hide="sfObject._destroy">{{sfObject.label}}</span>
        <del ng-show="sfObject._destroy">{{sfObject.label}}</del>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div ng-repeat="sfObject in mapping.mappingSalesforceObjects" class="tab-pane" id="{{sfObject.name}}">
      <br />
      <div class="form-group">
        <input ng-model="sfFilter.field_name" type='text' placeholder="Filter SF fields" class='form-control' />
      </div>

      <div class='row'>
        <div class='col-md-5'>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model='sfObject.perform_lookups'> Perform Lookups
            </label>
          </div>
        </div>
        <div class='col-md-4'>
          <a href="#" ng-click="updateObject(sfObject)" class='btn btn-success'>
            Refresh SF Fields
          </a>
        </div>
        <div class='col-md-3'>
          <a href='#' ng-hide="sfObject._destroy" ng-click="toggleDeleteSfObject(sfObject)" class='btn btn-warning'>
            Remove
          </a>

          <a href='#' ng-show="sfObject._destroy" ng-click="toggleDeleteSfObject(sfObject)" class='btn btn-danger'>
            Undo Remove
          </a>
        </div>
      </div>

      <table class='table'>
        <thead>
          <tr>
            <th>Field Name</th>
            <th>ODK Fields</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="sfField in sfObject.fields | filter:sfFilter">
            <td>{{sfField.field_name}}</td>
            <td>
              <ul class="list-group sortable-location odk-connected-sortable" ui-sortable="odkSortableOptions" ng-model="sfField.odk_fields">
                <li class='list-group-item' ng-repeat="odkField in sfField.odk_fields">
                  <div ng-show="mapping.id" class='pull-right'>
                    <input id="destroy-{{sfObject.name}}-{{$parent.$index}}-{{$index}}" type="checkbox" class="destroy-field" ng-model="odkField._destroy">
                    <label for="destroy-{{sfObject.name}}-{{$parent.$index}}-{{$index}}">&times;</label>
                  </div>
                  {{odkField.field_name}}: {{odkField.field_type}}
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>