<div ng-controller="SalesforceCtrl" class='panel panel-default'>
  <div class='panel-body'>
    <h4>Salesforce Objects <small>Choose objects by order of insertion.  Mark lookup fields to pre-existing records and specify matching field</small></h4>
    <div class='row'>
      <div class='col-md-4'>
        <!-- <label for="salesforce_object_name">SalesForce Object</label> -->
        <select ng-model="mapping.salesforceObjectName" ng-options="sfObj.name as sfObj.label for sfObj in salesforceObjects" class='form-control'>
          <option value=""></option>
        </select>
      </div>
      <div class='col-md-8'>
        <div class="form-group">
          <input ng-model="sfFilter.field_name" type='text' placeholder="Filter SF fields" class='form-control' />
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs">
      <li ng-repeat="sfObject in mapping.salesforceObjects | orderBy:'order'" ng-style="{'background-color': sfObject.color}">
        <a href="#{{sfObject.name}}_{{sfObject.order}}" data-toggle="tab">{{sfObject.name}} <sup>{{sfObject.order}} <span ng-show="sfObject.is_repeat">r</span></sup></a>
      </li>
    </ul>

    <div class="tab-content">
      <div ng-repeat="sfObject in mapping.salesforceObjects" class="tab-pane" id="{{sfObject.name}}_{{sfObject.order}}">
        <div class='row'>
          <div class='col-md-12'>
            <input type="checkbox" ng-click="toggleRepeat(sfObject)" ng-checked="sfObject.is_repeat" /> Repeat Field <br />
          </div>
        </div>

        <div class='external-field-holder'>
          <ul class='list-group sf-connected-sortable sortable-location' ui-sortable="sfSortableOptions" ng-model="sfObject.salesforceFields">
            <li class='list-group-item' ng-repeat="sfField in sfObject.salesforceFields | filter:sfFilter" ng-style="{'background-color': sfField.color}">
              {{sfField.field_name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
