<div ng-controller="SalesforceCtrl" class='panel panel-default'>
  <div class='panel-body'>
    <h4>Salesforce Objects <small>Choose objects by order of insertion.  Mark lookup fields to pre-existing records and specify matching field</small></h4>
    <div class='row'>
      <div class='col-md-4'>
        <!-- <label for="salesforce_object_name">SalesForce Object</label> -->
        <select ng-model="mapping.salesforceObjectName" ng-options="sfObj.name as sfObj.label for sfObj in salesforceObjects" class='form-control'>
          <option value=""></option>
        </select>
      </div>
      <div class='col-md-8'>
        <div class="form-group">
          <input ng-model="sfFilter.field_name" type='text' placeholder="Filter SF fields" class='form-control' />
        </div>
      </div>
    </div>

    <tabset>
      <tab ng-repeat="sfObject in mapping.salesforceObjects" ng-click="setViewingSfObject(sfObject)" ng-style="{'background-color': sfObject.color}" class='sf-field'>
        <tab-heading>
          {{sfObject.name}}
          <sup>{{sfObject.order}}
            <span ng-show="sfObject.is_repeat">r</span>
          </sup>
        </tab-heading>
        <div class='row'>
          <div class='col-md-12'>
            <input type="checkbox" ng-click="toggleRepeat(sfObject)" ng-checked="sfObject.is_repeat" /> Repeat Field
            <a href="#" class='btn btn-danger pull-right' ng-click="deleteSfObject(sfObject)">
              Remove
              <span class='glyphicon glyphicon-remove white'></span>
            </a>
          </div>
        </div>
        <hr />
        <div class='external-field-holder'>
          <ul class='list-group sf-connected-sortable sortable-location' ui-sortable="sfSortableOptions" ng-model="sfObject.salesforceFields">
            <li class='list-group-item sf-field' ng-repeat="sfField in sfObject.salesforceFields" ng-style="{'background-color': sfField.color}">
              {{sfField.field_name}}
            </li>
          </ul>
        </div>
      </tab>
    </tabset>
  </div>
</div>

<div class='row odk-filter-row'>
  <div class='col-md-8'>
    <div class="form-group">
      <input ng-model="odkFilter.field_name" type='text' placeholder="Filter ODK fields" class='form-control' />
    </div>
  </div>
</div>

<table class='table' style='margin-bottom: 0px;'>
  <thead>
    <tr>
      <th width="60%">Source Field Name</th>
      <th width="20%">Source Field Type</th>
      <th width="20%">Destination Field</th>
    </tr>
  </thead>
</table>