<div ng-controller="SfColumnCtrl" class='panel panel-default'>
  <div class='panel-body'>
    <h4>SF Fields</h4>
    <div class='row'>
      <div class='col-md-4'>
        <!-- <label for="salesforce_object_name">SalesForce Object</label> -->
        <select ng-model="mapping.salesforceObjectName" ng-options="sfObj.name as sfObj.label for sfObj in salesforceObjects" class='form-control'>
          <option value=""></option>
        </select>
      </div>
      <div class='col-md-8'>
        <div class="form-group">
          <input ng-model="sfFilter.field_name" type='text' placeholder="Filter SF fields" class='form-control' />
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs">
      <li ng-repeat="sfObject in mapping.mappedSfObjects" ng-style="{'background-color': sfObject.color}" ng-click="updateObject(sfObject)">
        <a href="#{{sfObject.name}}" data-toggle="tab">{{sfObject.label}}</a>
      </li>
    </ul>

    <div class="tab-content">
      <div ng-repeat="sfObject in mapping.mappedSfObjects" class="tab-pane" id="{{sfObject.name}}">
        <div class='row'>
          <div class='col-md-6'>
            <!-- <a href="#" ng-click="updateObject(sfObject)" class='btn btn-success'>
              Refresh SF Fields
            </a> -->
          </div>
          <div class='col-md-6'>
            Check if lookup field is not <code>Name</code> (only one).
          </div>
        </div>

        <div class='external-field-holder'>
          <ul class='list-group sf-connected-sortable sortable-location' ui-sortable="sfSortableOptions" ng-model="sfObject.fields">
            <li class='list-group-item' ng-repeat="sfField in sfObject.fields | filter:sfFilter" ng-style="{'background-color': sfField.color}">
              {{sfField.field_name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
