<!DOCTYPE html>
<html ng-app="the_bridge">
<head>
  <title>OpenFn</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
</head>
  <body>
      <%= render "shared/header" %>
    
      <div ng-view>
        <!--  Angular views get rendered here  -->
      </div>
      
  </body>
</html>
