<!DOCTYPE html>
<html ng-app="the_bridge">
<head>
  <title>OpenFn</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
  <body>
    <%= render "shared/header" %>
    
    <div class='container'>
      <div class='col-md-12'>
    </div>
    
    <div ng-view>
      <!--  Angular views get rendered here  -->
    </div>
  </body>
</html>
