<div class="pricing">
<div class="ideas">

<header class="header-image">
  <div class="headline">
    <h1>
      <i class="fa fa-credit-card"></i> tiered <strong>Pricing</strong>
    </h1>
    <h3>
      Unlock the <strong>potential</strong> of your current technologies.
    </h3>
  </div>
</header>

<div class="featurette dark">
  <hr class="light">
  <hr class="dark">
    <div class="container">

        <br>

        <div class="row flat">
          <div class="col-lg-2 col-md-3 col-xs-6 col-lg-offset-1">
            <ul class="plan plan1">
              <li class="plan-name">
                  Free
              </li>
              <li class="plan-price">
                  <strong>$0</strong> / mo.
              </li>
              <li>
                  <strong>1</strong> project
              </li>
              <li>
                  <strong>1</strong> user
              </li>
              <li>
                  <strong>2</strong> apps
              </li>
              <li>
                  <strong>1</strong> map
              </li>
              <li>
                  <strong>limited</strong> support
              </li>
              <li>
                  <strong>100</strong> jobs/mo.
              </li>
              <li>
                <strong>auto</strong> sync
              </li>
              <li class="plan-action">
                  <a href="/signup" ng-click="$event.stopPropagation()" class="btn btn-success btn-lg">Sign up</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 col-xs-6">
            <ul class="plan plan2">
              <li class="plan-name">
                  Entry
              </li>
              <li class="plan-price">
                  <strong>$39</strong> / mo.
              </li>
              <li>
                  <strong>1</strong> project
              </li>
              <li>
                  <strong>1</strong> user
              </li>
              <li>
                  <strong>2</strong> apps
              </li>
              <li>
                  <strong>3</strong> maps
              </li>
              <li>
                  <strong>limited</strong> support
              </li>
              <li>
                  <strong>1000</strong> jobs/mo.
              </li>
              <li>
                <strong>auto</strong> sync
              </li>
              <li class="plan-action">
               <a href="/signup" ng-click="$event.stopPropagation()" class="btn btn-success btn-lg">Sign up</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 col-xs-6">
            <ul class="plan plan3 featured">
              <li class="plan-name">
                  Startup
              </li>
              <li class="plan-price">
                  <strong>$79</strong> / mo.
              </li>
              <li>
                  <strong>2</strong> projects
              </li>
              <li>
                  <strong>5</strong> users
              </li>
              <li>
                  <strong>10</strong> apps
              </li>
              <li>
                  <strong>10</strong> maps
              </li>
              <li>
                  <strong>email</strong> support
              </li>
              <li>
                  <strong>2000</strong> jobs/mo.
              </li>
              <li>
                <strong>auto</strong> sync
              </li>
              <li class="plan-action">
               <a href="/signup" ng-click="$event.stopPropagation()" class="btn btn-danger btn-lg">Sign up</a>
             </li>
         </ul>
     </div>

     <div class="col-lg-2 col-md-3 col-xs-6">
        <ul class="plan plan4">
            <li class="plan-name">
                Growth
            </li>
            <li class="plan-price">
                <strong>$299</strong> / mo.
            </li>
            <li>
                <strong>5</strong> projects
            </li>
            <li>
                <strong>20</strong> users
            </li>
            <li>
                <strong>20</strong> apps
            </li>
            <li>
                <strong>20</strong> maps
            </li>
            <li>
                <strong>priority</strong> support
            </li>
            <li>
                <strong>5000</strong> jobs/mo.
            </li>
            <li>
                <strong><i class="fa fa-bolt"></i> rapid</strong> sync
            </li>
            <li class="plan-action">
             <a href="/signup" ng-click="$event.stopPropagation()" class="btn btn-success btn-lg">Sign up</a>
         </li>
     </ul>
    </div>

      <div class="col-lg-2 col-md-3 col-xs-6">
        <ul class="plan plan4">
          <li class="plan-name">
              Enterprise
          </li>
          <li class="plan-price">
              <strong>$999</strong> / mo.
          </li>
          <li>
              <strong>20</strong> projects
          </li>
          <li>
              <strong>80</strong> users
          </li>
          <li>
              <strong>unlimited</strong> apps
          </li>
          <li>
              <strong>80</strong> maps
          </li>
          <li>
              <strong>live chat</strong> support
          </li>
          <li>
              <strong>unlimited</strong> jobs/mo.
          </li>
          <li>
              <strong><i class="fa fa-bolt"></i> rapid</strong> sync
          </li>
          <li class="plan-action">
           <a href="/signup" ng-click="$event.stopPropagation()" class="btn btn-success btn-lg">Sign up</a>
          </li>
        </ul>
      </div>

      </div>
      <div class="col-lg-12 col-lg-offset-0">
        <h3>*contact us for custom plans</h3>
      </div>
