REDISCLOUD_URL: 'localhost:6379/0'
REDIS_URL: 'redis://localhost:6379/0'
STRIPE_PUBLISHABLE_KEY: 'pk_test_W9FR29OKTtcmeAftxYCHtEM2'
STRIPE_SECRET_KEY: 'sk_test_d0SgFphav7N2WuFZ2tucKguV'
GMAIL_USERNAME: 'user@email.com'
GMAIL_PASSWORD: 'password'
MAILER_HOST: '0.0.0.0:3000'
GA_TRACKING_CODE: 'code'