<table class='table'>
  <thead>
    <tr>
      <th width="5%"><p class="lead">uuid?</p></th>
      <th width="45%"><p class="lead">Source fields </p></th>
      <th width="50%" class="dest"><p class="lead">4. Drag destination fields here to make your mapping.</p></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="salesforceObject in mapping.salesforceObjects | filter: {is_repeat: false}"  ng-controller="SalesforceRelationshipCtrl">
      <td></td>
      <td>
        <em>{{salesforceObject.name}}_{{salesforceObject.order}} (salesforce id)</em>
      </td>
      <td>
        <ul class="list-group sortable-location sf-connected-sortable sf-target" ui-sortable="sfSortableOptions" ng-model="salesforceObject.relationshipFields">
          <li class="list-group-item sf-field" 
            title="{{relationshipField.field_name}} ({{relationshipField.properties.type}}){{relationshipField.properties.nillable ? '' : ' (required)'}}{{relationshipField.properties.unique ? ' (unique)' : ''}}" 
            ng-repeat="relationshipField in salesforceObject.relationshipFields" 
            ng-style="{'background-color': relationshipField.color}">
            <div class="required" ng-hide="relationshipField.properties.nillable"></div>
            <i title="Unique" class="unique fa fa-key" ng-show="relationshipField.properties.unique"></i>
            {{relationshipField.properties.label || relationshipField.field_name}}
            <a href="#" class='fa fa-minus-circle' ng-click="deleteRelationship(relationshipField)"></a>
          </li>
        </ul>
      </td>
    </tr>

    <tr ng-repeat="odkFormField in mapping.odk_form.odk_fields | filter:odkFilter" ng-controller="OdkFieldCtrl">
      <td style="width: 5%">
        <input type="checkbox" ng-model="odkFormField.is_uuid" ng-change="toggleUuid()" ng-if="odkFormField.uuidable" />
      </td>
      <td style="width: 45%" ng-style="odkFormField.displayStyle">{{odkFormField.field_name}} ({{odkFormField.field_type}})</td>
      <td style='width: 50%' class="dest">
        <ul class="list-group sortable-location sf-connected-sortable sf-target" ui-sortable="sfSortableOptions" ng-model="odkFormField.salesforceFields">
          <li class="list-group-item sf-field" 
            title="{{sfField.field_name}} ({{sfField.properties.type}}){{sfField.properties.nillable ? '' : ' (required)' }}{{sfField.properties.unique ? ' (unique)' : ''}}" 
            ng-repeat="sfField in odkFormField.salesforceFields" 
            ng-style="{'background-color': sfField.color}">

            <div class="required" ng-hide="sfField.properties.nillable"></div>
            <i title="Unique" class="unique fa fa-key" ng-show="sfField.properties.unique"></i>

            {{sfField.properties.label || sfField.field_name}}
            <a href="#" class='fa fa-minus-circle' ng-click="deleteField(sfField)"></a>

            <select ng-change="updateLookupField(odkFormField, sfField)" ng-model="sfField.lookupFieldName" ng-options="field.name as field.name for field in sfField.lookupFields" class='form-control' ng-show="sfField.properties.type == 'reference'">
              <option value=""></option>
            </select>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
