<div ng-controller="SalesforceCtrl" class='panel panel-default'>
  <div class='panel-body'>
    <h4>Destination Objects &amp; Fields <small>Add objects in required order of insertion.  Specify matching field for relationships. </small></h4>
    <div class='row'>
      <div class='col-md-4'>
        <!-- <label for="salesforce_object_name">SalesForce Object</label> -->
        <select ng-model="mapping.salesforceObjectName" ng-options="sfObj.name as sfObj.label for sfObj in salesforceObjects" class='form-control'>
          <option value=""></option>
        </select>
      </div>
      <div class='col-md-8'>
        <div class="form-group">
          <input ng-model="sfFilter.field_name" type='text' placeholder="Filter Destination fields" class='form-control' />
        </div>
      </div>
    </div>

    <tabset>
      <tab sortable-tab="tabMoved" ng-repeat="sfObject in mapping.salesforceObjects" ng-click="setViewingSfObject(sfObject)" ng-style="{'background-color': sfObject.color}" class='sf-field'>
        <tab-heading>
          {{sfObject.name}}
          <sup>{{sfObject.order}}
            <span ng-show="sfObject.is_repeat">r</span>
          </sup>
        </tab-heading>
        <div class='row'>
          <div class='col-md-12'>
            <input type="checkbox" ng-click="toggleRepeat(sfObject)" ng-checked="sfObject.is_repeat" /> Repeat Block Destination
            <a href="#" class='btn btn-danger pull-right' ng-click="deleteSfObject(sfObject)">
              Remove
              <span class='fa fa-minus-circle'></span>
            </a>

            <a href='#' class='btn btn-info pull-right' ng-click='refreshSfFields(sfObject)'>
              Refresh Object
              <span class='fa fa-refresh'></span>
            </a>
          </div>
        </div>
        <hr />
        <div class='external-field-holder'>
          <ul class='list-group sf-connected-sortable sortable-location' ui-sortable="sfSortableOptions" ng-model="sfObject.salesforceFields">
            <li class='list-group-item sf-field' 
              title="{{sfField.field_name}} ({{sfField.properties.type}}){{sfField.properties.nillable ? '' : ' (required)'}}{{sfField.properties.unique ? ' (unique)' : ''}}" 
              ng-repeat="sfField in sfObject.salesforceFields" 
              ng-style="{'background-color': sfField.color}">
              <div class="required" ng-hide="sfField.properties.nillable"></div>
              <i title="Unique" class="unique fa fa-key" ng-show="sfField.properties.unique"></i>

              {{sfField.properties.label || sfField.field_name}}
            </li>
          </ul>
        </div>
      </tab>
    </tabset>
  </div>
</div>

<div class='row odk-filter-row'>
  <div class='pull-left'>
    <div class="form-group">
      <div class="s-filter">
      <input ng-model="odkFilter.field_name" type='text' placeholder="Filter Source fields" class='form-control' />
      </div>
    </div>
  </div>
</div>



