<h4>2. Select Salesforce Fields</h4>

<div class="form-group">
  <label for="salesforce_object_name">SalesForce Object</label>
  <select ng-model="mapping.saleforce_object_name" ng-options="sfObj.name as sfObj.label for sfObj in salesForceObjects" class='form-control' />
</div>

<div class="form-group">
  <input ng-model="sfFilter.field_name" type='text' placeholder="Filter SF fields" class='form-control' />
</div>

<div class='external-field-holder'>
  <ul class='list-group sf-connected-sortable sortable-location' ui-sortable="sfSortableOptions" ng-model="salesforceObjectFields">
    <li class='list-group-item' ng-repeat="salesforceObjectField in salesforceObjectFields">
      {{salesforceObjectField.field_name}}
    </li>
  </ul>
</div>
