<div class="form-group">
  <label for="mapping_name">Name</label>
  <%= form.text_field :name, class: 'form-control', placeholder: 'Enter mapping name' %>
</div>

<div class='row'>
  <div class='col-md-6'>
    <%= render "odk_column", form: form %>
  </div>
  <div class='col-md-6'>
    <%= render "salesforce_column", form: form %>
  </div>
</div>


