<ol class="breadcrumb">
  <li><%= link_to "Mappings", :mappings %></li>
  <li><%= link_to @mapping.name, @mapping %></li>
  <li>Edit</li>
</ol>

<h3>Edit the mapping</h3>

<div ng-app="the_bridge">
  <%= render 'loading' %>
  <div ng-controller="MappingCtrl" ng-hide="loading" ng-include="'/the_bridge_templates/mappings/edit.html'" ng-init="init(<%= @mapping.id %>)"></div>
</div>
