<% @forms.first(5).each do |form| %>
  <h2><%= form.form_id %></h2>
  <% form.fields.each do |field| %>
    <p>
      Name: <%= field["nodeset"] %> <br/>
      Type: <%= field["type"] %>
    </p>
  <% end %>
<% end %>