<div class="ideas">

<header class="header-image">
  <div class="headline">
    <h1>open<strong>Integrations</strong></h1>
    <div class="new-product-link">
        <ul class="list-group">
          <li class="list-group-item">
            <%= link_to "New Mapping", [:new, :mapping] %>
          </li>
        </ul>
    </div>
</header>

<div class="container-fluid">
<table class='table'>
  <thead>
    <tr>
      <th>No.</th>
      <th>Description</th>
      <th>Status</th>
      <th>Auto-fetch</th>
      <th>Commands</th>
    </tr>
  </thead>
  <tbody>
    <%= render @mappings %>
  </tbody>
</table>
</div>
    </div>
  </div>
</div>