<ol class="breadcrumb">
  <li><%= link_to "Mappings", :mappings %></li>
  <li>New</li>
</ol>

<h3>Create a new mapping</h3>
<div ng-app="mapping">
  <div ng-controller="MappingCtrl" ng-include="'/assets/mappings/new.html'"></div>
</div>