<ol class="breadcrumb">
  <li><%= link_to "Mappings", :mappings %></li>
  <li>New</li>
</ol>

<h3>Create a new mapping</h3>

<div ng-app="the_bridge">
  <%= render 'loading' %>
  <div ng-view></div>
</div>
