<ol class="breadcrumb">
  <li><%= link_to "Mappings", :mappings %></li>
  <li>New</li>
</ol>

<h3>Create a new mapping</h3>


<div ng-app="mapping">
  <%= render 'loading' %>
  <div ng-controller="MappingCtrl" ng-hide="loading" ng-include="'/ng_templates/mappings/new.html'"></div>
</div>
