<label>Saleforce Mapping Fields</label>

<div class='sortable-location sf-connected-sortable' ui-sortable="sfSortableOptions" ng-model="mapping.salesforce_fields">
  <div class="panel panel-default" ng-repeat="sfField in mapping.salesforce_fields">
    <div class="panel-heading">{{sfField.object_name}} - {{sfField.field_name}}</div>
    <div class="panel-body">
      <ul class="list-group sortable-location odk-connected-sortable" ui-sortable="odkSortableOptions" ng-model="sfField.odk_fields">
        <li class='list-group-item' ng-repeat="odkField in sfField.odk_fields">
          {{odkField.field_name}}: {{odkField.field_type}}
        </li>
      </ul>
    </div>
  </div>
</div>