// this is the old color--- $bg-color: #fffcf4;
$cream: #fffcf4;
$bg-color: #384D5C;
$bold: 700;
$semi-bold: 600;

$primary-blue: #3f5666;    // dark blue
$deeper-blue: #384D5C;    // deeper blue
$grey-blue: #5A6C77;
$off-white: #F2EFE6;
$grey: #969795;
$light-grey: #A3AAAB;
$accent-yellow: #f8ca4d; //dark yellow

a:hover {
  text-decoration: none;

  a:focus {
  text-decoration: none;
  }

}

a {
  color: inherit;
}

html {
  -ms-overflow-style: none;
}

body {
  padding-top: 68px;
  font-family : 'Source Sans Pro',Verdana,Helvetica,Arial,serif; 
  color: $off-white;
  line-height: 1;
  background-color: $bg-color;
  background-image: image-url("noise.png");
  max-width: 100%;
  overflow-x: hidden;
}

b, strong {
  font-weight: $bold;
}

// .navbar-logo {
//     background-image: image-url("logo_fn.png");
//     background-repeat: no-repeat;
//     background-size: 100%;
//     height: rem-calc(32px);
//     width: rem-calc(32px);
//     position: absolute;
//     bottom: 20px;
// }

.top-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: rem-calc(74px);
    z-index: -1;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    display: none;
  }

.top-shadow-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: rem-calc(60px);
    z-index: -1;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    display: none;
  }

.navbar {
  
  padding-top: rem-calc(5px);
  padding-bottom: rem-calc(5px);
  z-index: 9;
  border: none;
  border-radius: 0;
  background-color: $cream;
  background-image: image-url("noise.png");
  position: fixed;

  .nav > li > a {
    line-height: rem-calc(32px);
    z-index: 10;
  }


  .navbar-brand {
    font-size: rem-calc(32px);
    font-weight: $bold;
    color: $primary-blue;
  }

  .navbar-nav {
    font-weight: $semi-bold;
    font-size: rem-calc(15px);
    color: $primary-blue;

    .dropdown.open .dropdown-toggle {
      background-color: rgba(0, 0, 0, 0.15);
      background-image: image-url("noise.png");
      color: $primary-blue;
    }
  
  }

}

.navbar-collapse {
  border-top: 0;
}

.table-striped {
  background-color: $bg-color;
  background-image: image-url("noise.png")
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: $deeper-blue;
   background-image: image-url("noise.png")
}

.well {
  color: $deeper-blue;
  margin-top: 20px;
}

.btn-meh {
  color: $off-white;
  padding: 0;
}

.btn-map-label {
  padding-left: 2px;
}

.table tbody tr > td.success {
  background-color: inherit;
  color: #5CB85C !important;
}

.panel {
  background-color: $cream;
  background-image: image-url("noise.png");
  color: $deeper-blue;
  border: 0;
}

.breadcrumb {
  background-color: $primary-blue;
  background-image: image-url("noise.png")
}

.progress-bar-grey {
  background-color: $light-grey;
  background-image: image-url("noise.png");
  }

// ::-webkit-scrollbar-track
// {
//   -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
//   border-radius: 8px;
//   background-image: image-url("lighter-noise.png")
// }

// ::-webkit-scrollbar
// {
//   width: 10px;
//   background-image: image-url("lighter-noise.png")
// }

// ::-webkit-scrollbar-thumb
// {
//     background-color: $light-grey;
//     border: 3px solid transparent;
//     border-radius: 9px;
//     background-clip: content-box;
// }


.live {
  color: $accent-yellow;
}