$light: 300;
$bold: 800;

// $bg-color: #FFFFFF;       //main background color, white
// $nav: #F8F8F8;
// $dark: #2c2c2c;
// $light-grey: #787878;
// $base: #406DE4;
// $light: #E7F0FA;
// $accent: #FFBD31;
// $red-accent: #D84765;

$bg-color: #FFFFFF;       //main background color, white
$nav: #F8F8F8;
$dark: #2c2c2c;
$light-grey: #787878;
$base: #4284f4;
$light: #E7F0FA;
$accent: #FFB632;
$red-accent: #D84765;

// These need to be removed, but log files, caches prevent removal.
$off-white: red;      // deprecated
$deeper-blue: red;    // deprecated
$accent-yellow: red;  // depreacted
$grey-blue: red;      // deprecated
$cream: red;          // deprecated
$primary-blue: #428BCA;   // bootstrap primary blue
$grey: #969795;
$dynamic: #F0AD4E;  //used for live stats and accents

a:hover {
  text-decoration: none;
  color: inherit;

  a:focus {
  text-decoration: none;
  color: inherit;
  }

}

a {
  color: inherit;
  cursor: pointer;
}

html {
  -ms-overflow-style: none;
  position: relative;
  // height: 100%;
}

body {
  background-color: $bg-color;
  // background-image: image-url("noise.png");
  color: $dark;
  padding-top: 68px;
  font-family : 'Open Sans',Verdana,Helvetica,sans-serif;
  line-height: 1;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100%;
}

html, body {
  height: 100%;
}

.btn-light {
  background-color: $light;
  color: $dark;
}

.btn-accent {
  background-color: $accent;
  color: $dark;
}

.btn-red {
  background-color: $red-accent;
  color: $dark;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow-x: hidden;
  padding-bottom: 68px; /* make same height as footer */
}

.footer {
    position: relative;
    margin-top: -68px;
    height: 68px;
    clear: both;
    background-color: $nav;
    // background-image: image-url("noise.png");
    padding-top: 12px;
}

b, strong {
  font-weight: $bold;
}

// .navbar-logo {
//     background-image: image-url("logo_fn.png");
//     background-repeat: no-repeat;
//     background-size: 100%;
//     height: rem-calc(32px);
//     width: rem-calc(32px);
//     position: absolute;
//     bottom: 20px;
// }

.navbar {

  padding-top: rem-calc(5px);
  padding-bottom: rem-calc(5px);
  z-index: 9;
  border: none;
  border-radius: 0;
  position: fixed;
  margin-bottom: 15px;
  height: 68px;
  // background-image: image-url("noise.png");
  background-color: $nav;

  .nav > li > a {
    line-height: rem-calc(24px);
    z-index: 10;
  }

  .btn {
    margin-top: 10px;
    margin-left: 10px;
  }

  .btn-accent {
    background-color: $accent;
  }

  .navbar-brand {
    // font-size: rem-calc(24px);
    // font-weight: $bold;
    // color: $primary-blue;
  }

  .navbar-nav {
    // font-weight: $semi-bold;
    // line-height: rem-calc(24px);
    // font-size: rem-calc(15px);
    // color: $primary-blue;

    .dropdown.open .dropdown-toggle {
      // background-color: $off-white;
      // background-image: image-url("noise.png");
      // color: $primary-blue;
    }

  }

}

.navbar-collapse {
  border-top: 0;
}

// .table-striped {
  // background-color: $bg-color;
  // background-image: image-url("noise.png")
// }

// .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   // background-color: $deeper-blue;
   // background-image: image-url("noise.png")
// }

.well {
  // color: $deeper-blue;
  margin-top: 20px;

  // &.dark {
    // background-color: $bg-color;
    //background-image: image-url("noise.png");
    // border-color: $deeper-blue;
    // color: $off-white;
  // }

}

.btn-map-label {
  padding-left: 2px;
}

// .table tbody tr > td.success {
  // background-color: inherit;
  // color: #5CB85C !important;
// }

.panel {
  // background-color: $cream;
  // background-image: image-url("noise.png");
  // color: $deeper-blue;
  border: 0;
}

.breadcrumb {
  // background-color: $primary-blue;
  background-image: image-url("noise.png")
}

.progress {
  // background-color: $off-white;
  background-image: image-url("noise.png");
}

.progress-bar-grey {
  // background-color: $light-grey;
  background-image: image-url("noise.png");
  }

.live {
  color: $accent;

  &.little {
    font-size: rem-calc(15px);
  }
}

.little {
  font-size: rem-calc(15px);
  font-weight: normal;
}

.flash {
  // color: $bg-color;
}

.center {
  text-align: center;
}

.pad_for_footer {
  margin-bottom: 60px
}

.btn-open-donation, .btn-open-donation:hover {
  color: $nav;
  background-color: $red-accent;
  // background-image: image-url("noise.png");
  // width: 75px;
  // height: 50px;

  // font-size: rem-calc(18px);
  // font-weight: $bold;
  text-transform: uppercase;
}

.btn-donate, .btn-donate:hover {
  color: $nav;
  background-color: $red-accent;
  // background-image: image-url("noise.png");
  // width: 75px;
  // height: 50px;

  // font-size: rem-calc(18px);
  // font-weight: $bold;
  text-transform: uppercase;
}

.btn-donate-go {
  color: $nav;
  background-color: $red-accent;
  // background-image: image-url("noise.png");
  width: 50px;
  height: 50px;

  font-size: rem-calc(18px);
  font-weight: $bold;
  text-transform: uppercase;;
}

.header-image {
    margin-top: -20px;
    width: 100%;
    text-align: center;
    // background-color: $cream;
    // background-image: image-url("noise.png");
    // color: $light-grey;
}

.headline {
    padding: rem-calc(55px) 0 rem-calc(50px);
    padding-bottom: rem-calc(30px);
    background-color: $base;
    background-image: image-url("noise.png");
    color: $bg-color;
}

  .controls {
    color: red !important;
  }


    .featurette {

      .featurette-heading {
        font-size: rem-calc(35px);
        // color: $primary-blue;
        margin: 2rem 0;
        // background-color: $cream;
        //background-image: image-url("noise.png");
      }

      p.lead {
        // color: $primary-blue;
        font-size: 1.8rem;
        line-height: 2.8rem;
      }
      &.dark {
        // background-color: $base;
        // color: $light;
        //background-image: image-url("noise.png");

        .featurette-heading {
          // color: $off-white;
        }

        p.lead {
          // color: $off-white;
        }
      }

      &.mappings {

        .featurette-heading {
          // color: $off-white;
        }

        p.lead {
          // color: $off-white;
        }
      }

      .container {
        margin-top: rem-calc(30px);
        margin-bottom: rem-calc(30px);
      }

      // overflow: hidden;

      padding: 0;
      margin: 0;

      hr {
        border: none;
        height: rem-calc(10px);
        margin: 0;
        padding: 0;

        &.light {
          // background-color: lighten($primary-blue, 51);
        }
        &.dark {
          // background-color: $primary-blue;
        }
      }

    }

 .title {
    // color: $off-white;
    font-size: rem-calc(28px);
    font-weight: $bold;
    text-transform: uppercase;

    &.show {
      font-size: rem-calc(42px);
      margin-top: -30px;
      margin-bottom: -15px;
    }
  }

  .content {
    // color: $off-white;
  }

  .rn-content {
    // color: $off-white;
    padding-top: 24px;
    padding-right: 24px;
  }

  .rn-title {
    // color: $off-white;
    font-size: rem-calc(28px);
    font-weight: $bold;
    text-transform: uppercase;
    padding-right: 20px;

    &.show {
      font-size: rem-calc(42px);
      margin-top: -30px;
      margin-bottom: -15px;
    }
  }

  .tile {
    cursor: pointer;
  }

  .rating {
   // color: $off-white;
  }

  .modal-header {
    border: 0;
    // background-color: #5A6C77;
    // background-image: inherit;
  }

  .modal-title {
    // color: $off-white;
    font-size: rem-calc(24px);
    font-weight: $bold;
    text-transform: uppercase;
  }

  .modal-body {

    .mb-title {
      // color: $off-white;
      font-size: rem-calc(18px);
      font-weight: $bold;
      text-transform: uppercase;
    }

  }

  .table-striped > tbody > tr:nth-child(odd) > td,
  .table-striped > tbody > tr:nth-child(odd) > th {
    // background-color: #5A6C77;
  }

  .tabs-below, .tabs-right, .tabs-left {
  .nav-tabs {
    border-bottom: 0;
  }
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-left, .tabs-right {
  > .nav-tabs > li {
    float: none;

    > a {
      min-width: 74px;
      margin-right: 0;
      margin-bottom: 3px;
    }
  }
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;

  > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;

    &:hover, &:focus {
      // border-color: #eee #ddd #eee #eee;
    }
  }

  > .active a {
    &, &:hover, &:focus {
      // border-color: #ddd transparent #ddd #ddd;
      // *border-right-color: #fff;
    }
  }
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  padding: 5px;
  // border-left: 1px solid #ddd;

  > li > a {
    // margin-left: -1px;
    -webkit-border-radius: 6px 6px 6px 6px;
       -moz-border-radius: 6px 6px 6px 6px;
            border-radius: 6px 6px 6px 6px;
            border: none;
    //         background-color: $nav;
    //         color: black;

    &:hover, &:focus {
      // background-color: $lilac;
      // color: $dynamic;
      // border: none;
    }
  }

  > .active a {
    &, &:hover, &:focus {
      border: none;
      // *border-left-color: #fff;
      // color: $dynamic;
      // background-color: $bg-color;
    }
  }
}

#editor {
  max-height: 250px;
  height: 250px;
  background-color: white;
  border-collapse: separate; 
  border: 1px solid rgb(204, 204, 204); 
  padding: 4px; 
  box-sizing: content-box; 
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px; border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}


.dropdown-menu a {
  cursor: pointer;
}