.cases {

  .impact {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .line-separator {
    height:1px;
    margin: auto 25px 10px 0; 
    background: $dark;
    border-bottom:1px solid $dark;
  }

  .description {
    background-color: $nav;
    background-image: image-url("noise.png");
  }

  .case-pic {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-top: 26px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

}