.devs {

  body {
    padding-top: 40px;
  }

  .flat .plan {
    border-radius: 6px;
    list-style: none;
    padding: 0 0 20px;
    margin: 0 0 15px;
    background: $nav;
    text-align: center;
  }

  .flat .plan li {
    padding: 10px 15px;
    -webkit-transition: 300ms;
    transition: 300ms;
  }

  .flat .plan li.plan-price {
    font-size: 2em;
    border-top: 0;
  }

  .flat .plan li.plan-name {
    border-radius: 6px 6px 0 0;
    padding: 15px;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    background: $primary-blue;
    margin-bottom: 30px;
    border-top: 0;  
  }

  .flat .plan li > strong {
  }

  .flat .plan li.plan-action {
    margin-top: 10px;
    border-top: 0;
  }

  .flat .plan.featured li.plan-name {
    background: #000;
  }

  .flat .plan.featured:hover li.plan-name {
    background: #c0392b;
  }

  .flat .plan:hover li.plan-name {
    background: #000;
  }

}