.saved-notification {
  color: white;
  background-color: green;
  position: fixed;
  top: 70px;
  left: 25px;
  padding: 10px 20px;
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:1;

  &.ng-hide {
    opacity:0;
  }

  &.ng-hide-add, &.ng-hide-remove {
    /* this needs to be here to make it visible during the animation
       since the .ng-hide class is already on the element rendering
       it as hidden. */
    display:block!important;
  }
}