// Place all the styles related to the mapping_fields controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.salesforce-fields, .saleforce-mapping-field {
  min-height: 400px;
  padding-top: 10px;

  .salesforce-autocomplete-field {
    font-size: 20px;
  }
}

.odk-field {
  font-size: 20px;
}

.sortable-location {
  min-height: 150px;
}

.odk-field {
  //border: 1px solid black;
}

.external-field-holder {
  overflow: auto;
}
