// Place all the styles related to the mappings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  color: $off-white;
  }


#loading  {
  width: 100%;

  img {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

#loading-gif {
  width: 50%;
}

#new_mapping {

  .sf-autocomplete {
    min-height: 200px;
  }

}

.s-filter{
  margin-left: 35px;
  margin-top: 0;
}


.odk-row {
  padding-bottom: 150px;
  //background-color: $bg-color;


  .odk-fields {
    max-height: 400px;
    overflow: auto;
  }
}

.odk-list-item {
  width: 165px;
}

.odk-label {
  line-height: 2;
  margin-right: 5px;
  font-size: 12px;
}

.sf-label {
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
}

.sf-lookup-label {
  display: inline-block;
  background-color: #990;
  margin-top: 5px;
  font-size: 12px;
}

.pull-right .button_to {
  float: right;
  margin-left: 5px;
}

input.destroy-field {
  display: none;

  & + label {
    font-size: 20px;
    font-weight: bold;
    color: black;

    &:hover {
      cursor: pointer;
    }
  }

  &:checked + label {
    color: red;
  }
}

.white {
  color: white;
}

.sf-row {
  top: -250px;

  hr {
    margin-top: 5px;
    margin-bottom: 10px;
  }

}

.sf-row.affix {
  margin-top: 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-transition: all 1s ease-in;
  transition: all 0.5s ease-in;
}

.sf-affixed {
  margin-top: 225px;
}

.sf-field {
  color: white !important;
  // font-weight: bolder;
  // text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333;

  a {
    color: white;
    // font-weight: bolder;
    // text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333;
  }
}


#errorExplanation {
  li { width: 500px; }
}

.mapping-status-options {
  label { padding-right: 20px; }
}