// Place all the styles related to the mappings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_mapping {

  .sf-autocomplete {
    min-height: 200px;
  }

}

.odk-row {
  .odk-fields {
    max-height: 400px;
    overflow: auto;
  }
}

.odk-list-item {
  width: 165px;
}

.odk-label {
  line-height: 2;
  margin-right: 5px;
  font-size: 20px;
}

.sf-label {
  display: inline-block;
  margin-top: 5px;
  font-size: 25px;
}

input.destroy-field {
  display: none;

  & + label {
    font-size: 20px;
    font-weight: bold;
    color: black;

    &:hover {
      cursor: pointer;
    }
  }

  &:checked + label {
    color: red;
  }
}
