.angular-ui-tree-handle {
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    color: #777;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #333;
    background: #F8F8F8;
    border-color: #dce2e8;
}

.angular-ui-tree-handle {
    cursor: default;
}