.pricing {

  .flat .plan {
    border-radius: 6px;
    list-style: none;
    padding: 0 0 20px;
    margin: 0 0 15px;
    background: $nav;
    background-image: image-url("noise.png");
    text-align: center;
  }
  .flat .plan li {
    padding: 10px 15px;
    // color: #ccc;
    border-top: 1px solid #f5f5f5;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .flat .plan li.plan-price {
    font-size: 2em;
    border-top: 0;
  }
  .flat .plan li.plan-name {
    border-radius: 6px 6px 0 0;
    padding: 15px;
    font-size: 24px;
    line-height: 24px;
    color: $dark;
    background: $light;
    margin-bottom: 30px;
    border-top: 0;  
    background-image: image-url("noise.png");
  }
  .flat .plan li.plan-name2 {
    border-top: 0;  
  }

  .flat .plan li > strong {
    // color: $deeper-blue;
  }
  .flat .plan li.plan-action {
    margin-top: 10px;
    border-top: 0;
  }
  .flat .plan.featured {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .flat .plan.featured li.plan-name {
    background: $dark;
    color: $nav;
  }
  .flat .plan.featured:hover li.plan-name {
    background: $red-accent;
    color: $dark;
  }
  .flat .plan:hover li.plan-name {
    background: $dark;
    color: $light;
  }

}