.search-container {
  margin: 0;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #CCC;
  background-color: #F5F5F5;

  .sub-heading {
    color: #A3A3A3;
  }

  .search-box {
    padding: 1.6em 3em 3em 3em;
  }

  .no-padding {
    padding: 0;
  }

  .search-type {
    float: right;
    min-width: 216px;
  }

  .search-field {
    padding-bottom: 0.5em;
  }
}

.product-list {
  $product-padding: 1em;
  $product-margin: 0.8em;
  
  
  margin-left: -$product-margin;
  margin-right: -$product-margin;
  margin-top: -$product-margin;
  margin-bottom: -$product-margin;


  .product-container {
    padding: 0;
    height: 16em;
    margin-bottom: 1.6em;

    .product:hover {
      background-color: #5A6C77;
    }

    .product {
      height: 100%;
      background-color: #3f5666;
      background-image: image-url("noise.png");
      text-align: center;

      position: relative;
      padding: $product-padding;
      margin: $product-margin;
  
      .description {
        font-size: 0.8em;
        line-height: 1.2;
        height: 6em;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .title {
        margin-top: 10px;
      }

      .rating {
        align-content: center;
      }

      .vote-link {
        color: #384D5C;
        padding: 0.5em;
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;
        background-color: #A3AAAB;
      }

      .vote-count {
        color: $accent-yellow;
        padding: 0.5em;
        position: absolute;
        bottom: 0;
        right: 2.0em;
        }

      .website-link {
        color: #384D5C;
        padding: 0.5em;
        position: absolute;
        bottom: 0;
        left: 0;
        cursor: pointer;
        background-color: #A3AAAB;
      }

      
      // .deatils-link-wrapper {
      //   position: relative;
      //   // float: left;
      //   text-align: center;
      //   margin: 0 auto; 
      // }

      .details-link {
        // color: #384D5C;
        padding: 0.5em;
        position: absolute;
        // float: left;
        // left: 50%;
        // background-color: #A3AAAB;
        // text-align:center;
        // margin: 0px auto 0px auto;
        top: 0;
        right: 0;
        // margin-left: -7px;
        // margin: 0 auto;
      }

      .details-link:hover {
        text-decoration: none;
      }
    }
  }

  .product-container.ng-enter,
  .product-container.ng-leave
  {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
  }
   
  .product-container.ng-enter.ng-enter-active,
  .product-container.ng-leave {
    opacity: 1;
  }
   
  .product-container.ng-leave.ng-leave-active,
  .product-container.ng-enter {
    opacity: 0;
  }
}

.show-product {

//Taylor's edits to the show product page CSS

  background-color: #3f5666;
  background-image: image-url("noise.png");
  color: $off-white;
  padding: 30px;

  .actions, .rating, .name {
    display: inline-block;
  }

  .name {
    margin-right: 0.8em;
  }

  .actions, .rating {
    // padding-left: 10px;
    vertical-align: text-top;
  }

  .actions {
    padding-top: 0.05em;
    a {
      padding-left: 0.5em;
    }
  }

  .nav-tabs {
    margin-bottom: 0;
    border-bottom: 0;

    li {
      cursor: pointer;

      .active { cursor: default; }
    }
  }

  .tab-pane {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
  }

  .tab-pane:nth-child(1) {
    border-radius: 0px 4px 4px 4px;
  }


  .tab-content-text {
    padding-top: 0.8em;
    margin: 0 0.8em 0.8em 0.8em;
  }

  .tag-list {
    margin: 0.8em;
    .tag {
      margin-right: 0.5em;
    }
  }
}

.new-product-link {
  padding: 1em;
}

.fsField {
  color: $grey; 
}