.search-container {
  margin: 0;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #CCC;
  // background-color: red;

  .sub-heading {
    // color: red;
  }

  .search-box {
    padding: 1.6em 3em 3em 3em;
  }

  .no-padding {
    padding: 0;
  }

  .search-type {
    float: right;
    min-width: 216px;
  }

// fsField -- why is this here?
  .search-field {
    padding-bottom: 0.5em;
  }
}

.product-list {
  $product-padding: 1em;
  $product-margin: 1.1em;
  position: relative;
  margin-left: -$product-margin;
  margin-right: -$product-margin;
  margin-top: -$product-margin;
  margin-bottom: -$product-margin;

  .product-container {
    padding: 0;
    height: 20em;
    margin-bottom: 1.6em;

    .product {
      height: 100%;
      color: $light-grey;
      background-image: image-url("noise.png");
      background-color: $nav;
      text-align: center;
      position: relative;
      padding: 3em;
      margin: $product-margin;
      transition: all .25s;
      &:hover {
        cursor: pointer !important;
        background-color: $light;
      }
      &.integrated {
        background-color: $light;
      }

      .rating {
        align-content: center;
        font-size: 1.3em;
        font-weight: lighter;
      }

      .title {
        margin-top: 1em;
        font-size: 1.6em;
        color: $dark;
      }

      .description {
        margin-top: 1em;
        font-size: 1em;
        line-height: 1.7em;
        color: $light-grey;
      }

      .website-link, .details-link {
        position: absolute;
        bottom: 0;
        background: $grey;
        color: white;
        cursor: pointer;
        transition: all .25s;
        &:hover {
          background: darken($grey, 10%);
        }
      }

      .website-link {
        left: 0;
        font-size: 1.5em;
        padding: .5em;
      }

      .details-link {
        right: 0;
        font-weight: bold;
        text-transform: uppercase;
        padding: 1em;
      }

      .vote-link {
        padding: 0.5em;
        position: absolute;
        bottom: 0;
        right: 8em;
        cursor: pointer;
      }

      .vote-count {
        padding: 0.5em;
        position: absolute;
        bottom: 0.5em;
        right: 3em;
      }

      #editor {
        overflow:scroll;
        max-height:300px;
      }
    }
  }

  .product-container.ng-enter,
  .product-container.ng-leave
  {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
  }

  .product-container.ng-enter.ng-enter-active,
  .product-container.ng-leave {
    opacity: 1;
  }

  .product-container.ng-leave.ng-leave-active,
  .product-container.ng-enter {
    opacity: 0;
  }
}

.show-product {

  background-color: $nav;
  // background-image: image-url("noise.png");
  color: $light-grey;
  padding: 30px;
  overflow:auto;

  .actions, .rating, .name {
    display: inline-block;
  }

  .vote-link {
    // color: $bg-color;
    // padding: 0.8em;
    padding-right: 2em;
    // position: absolute;
    // bottom: 0.0em;
    // right: 1em;
    cursor: pointer;
    // background-color: $grey-blue;
    // background-image: image-url("noise.png");
  }

  .vote-count {
    color: $accent;
    // font-size: 1.22em;
    // padding: 0.8em;
    padding-right: 0.8em;
    // position: absolute;
    // bottom: 0.0em;
    // right: 4em;
    // cursor: pointer;
    // background-color: $grey-blue;
    // background-image: image-url("noise.png");
    }

  .website-link {
    // color: $bg-color;
    // padding: 0.8em;
    padding-right: 2em;
    // position: absolute;
    // bottom: 0.0em;
    // left: 1em;
    cursor: pointer;
    // background-color: $grey-blue;
    // background-image: image-url("noise.png");
  }

  .edit-link {
    // color: $bg-color;
    // padding: 0.8em;
    padding-right: 2em;
    // position: absolute;
    // top: 0.0em;
    // left: 1em;
    cursor: pointer;
    // background-color: $grey-blue;
    // background-image: image-url("noise.png");
  }

    .review-link {
    // color: $bg-color;
    // padding: 0.8em;
    padding-right: 2em;
    // position: absolute;
    // top: 0.0em;
    // right: 1em;
    cursor: pointer;
    // background-color: $grey-blue;
    // background-image: image-url("noise.png");
  }

  .tab-content-text {
    a {
      text-decoration: underline;
    }
  }

  .name {
    margin-right: 0.8em;
  }

  .title {
    text-align: center;
    color: $dark;
  }

  .rating {
    // float: right;
    text-align: center;
    padding-right: 29px;
  }

  .actions, .rating {
    // padding-left: 10px;
    vertical-align: text-top;
  }

  .actions {
    padding-top: 0.05em;
    a {
      padding-left: 0.5em;
    }
  }

  .right-pills {
  // color: $off-white;
  font-size: rem-calc(12px);
  font-weight: $bold;
  text-transform: uppercase;
  margin-bottom: -30px;
  // background-color: $nav;
  // background-image: image-url("noise.png");

  }

  .nav-tabs {
    // margin-bottom: 0;
    border-bottom: 0;
    // color: $off-white;
    font-size: rem-calc(20px);
    font-weight: $bold;
    text-transform: uppercase;
    text-align: center;

    li {
      cursor: pointer;

      .active { cursor: default; }
    }
  }

  .tab-pane {
    border-radius: 4px;
    border-width: 1px;
    // border-style: solid;
    // border-color: #dddddd;
    min-height: 220px;
  }

  .tab-pane:nth-child(1) {
    border-radius: 0px 4px 4px 4px;
  }


  .tab-content-text {
    padding-top: 0.8em;
    // margin: 0 0.8em 0.8em 0.8em;
    font-size: rem-calc(18px);
          color: $dark;
  }


}

.new-product-link {
  padding-bottom: 1em;
  // background-color: $light;
  margin-bottom: 1em;
}

.add-modal {
  margin-left: 30px;
  margin-right: 30px;
}

.fsField {
  color: black;
  width: 508px;
}

.fsSubmitButton {
  color: black;
}

.submitStatus{
  color:red;
  font-weight: bold;
}

.rscore {
  font-size: rem-calc(20px);
}



a:hover{
  color:#000;
}

.edit {
  .tab-pane {
    min-height: 385px;
  }
}

.whole-accord-button :focus {
  text-decoration: none;
}

.whole-accord-button a{
  color: $light-grey;
  width: 100%;
  display: inline-block;
  // position: relative;
  // z-index: 1;
  // padding-right: 1em;
}
