.search-container {
  margin: 0;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #CCC;
  background-color: #F5F5F5;

  .sub-heading {
    color: #A3A3A3;
  }

  .search-box {
    padding: 1.6em 3em 3em 3em;
  }

  .no-padding {
    padding: 0;
  }

  .search-type {
    float: right;
    min-width: 216px;
  }

  .search-field {
    padding-bottom: 0.5em;
  }
}

.product-list {
  margin: 0;
  $product-padding: 1em;

  .product:hover {
    background-color: #D4EBF6;
  }

  .product {
    padding: $product-padding;
    margin: 0;
    position: relative;
    height: 14em;
  
    .description {
      font-size: 0.8em;
      line-height: 1.2;
      height: 6em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .rating {
      padding: 0.5em 0;
      position: absolute;
      bottom: $product-padding;
      left: $product-padding;
    }

    .details-link {
      color: #000;
      padding: 0.5em;
      position: absolute;
      bottom: $product-padding;
      right: $product-padding;
      border-radius: 4px;
      border-width: 1px;
      border-style: solid;
      border-color: #CCC;
      background-color: #FFF;
    }

    .details-link:hover {
      text-decoration: none;
    }
  }

  .product.ng-enter,
  .product.ng-leave
  {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
  }
   
  .product.ng-enter.ng-enter-active,
  .product.ng-leave {
    opacity: 1;
  }
   
  .product.ng-leave.ng-leave-active,
  .product.ng-enter {
    opacity: 0;
  }
}
