.team {

  .line-separator {
    height:1px;
    margin: auto 25px 10px 0; 
    background: $dark;
    border-bottom:1px solid $dark;
  }

  .team-member-pic {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-top: 26px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .team-member-page {
    min-height: 250px;
  }

  .team-member-page p {
    margin: 0 0 0 10px;
    line-height: 1.8;
  }

}