.welcome {

  .banner {
    position: relative;
    background-color: $base;
    background-image: image-url("wow_bg.jpg");
    background-position: center;
    width: 100%;
    height: 30em;
    text-align: center;
  }

  #particles-js{
      position: absolute;
      background-image: image-url("noise.png");
      height: 30em;
      width: 100%;
      z-index: 8;
  }

  .banner-headline {
    padding-top: rem-calc(75px);
    // padding-bottom: rem-calc(50px);
    // text-shadow: $dark 0.05em 0.05em 0.1em;
    color: $bg-color;
    font-size: rem-calc(40px);
    line-height: 1.3;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 2em;
  }

  .who {
    text-align: center;
    color: $dark;
    font-size: rem-calc(35px);
    margin: 2rem 0;
    padding: 2em;
  }

  .lg2 {
    height: auto;
    width: auto;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .numbers h4 {
    margin-top: 3em;
    color: $bg-color;
    font-size: 1.8rem;
    line-height: 2.8rem;

    .digits {
      color: $accent;
      font-weight: $bold;
      font-size: rem-calc(36px);
    }
  }

}
