<!-- Modal -->
<div class="modal fade" id="cursor_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Product Detail Page
      </div>
      <div class="modal-body">

        <div ng-controller="ProductController as productCtrl" class="row">
          <div class="show-product">
            <h2 class="name">
              {{product.name}}
            </h2>
            <div class='rating'>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              (sample rating)
            </div>
            <div class='actions'>
              <a ng-href="{{product.website}}" target="_blank"><i class="fa fa-link"></i></a>
              <a ng-href="{{product.update_link}}" target="_blank"><i class="fa fa-pencil"></i></a>
            </div>
            <tabset>
              <tab heading="Description" class="description">
                <div class="tab-content-text" ng-bind-html="product.detailed_description"></div>
                <div class="tag-list">
                  <span ng-repeat="tag in product.tag_list" class="tag label label-info" >{{tag}}</span>
                </div>
              </tab>
              <tab heading="Costs">
                <div class="tab-content-text" ng-bind-html="product.costs"></div>
                <div class="tag-list">
                  <span ng-repeat="tag in product.tag_list" class="tag label label-info">{{tag}}</span>
                </div>
              </tab>
              <tab heading="Reviews">
                <div class="tab-content-text" ng-bind-html="product.reviews"></div>
                <div class="tag-list">
                  <span ng-repeat="tag in product.tag_list" class="tag label label-info">{{tag}}</span>
                </div>
              </tab>
              <tab heading="Resources">
                <div class="tab-content-text" ng-bind-html="product.resources"></div>
                <div class="tag-list">
                  <span ng-repeat="tag in product.tag_list" class="tag label label-info">{{tag}}</span>
                </div>
              </tab>
              <tab heading="Provider">
                <div class="tab-content-text" ng-bind-html="product.provider"></div>
                <div class="tag-list">
                  <span ng-repeat="tag in product.tag_list" class="tag label label-info">{{tag}}</span>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>