<% if @reviews.blank? %>
  <p>There are no reviews for this product currently in the system.</p>
<% else %>
  <p>These are the current reviews for this product in our system</p>
  <ul id="reviews">
  <% @reviews.each do |c| %>
    <li>Review: <%= c.review %></li><span>Rating: <%= c.rating %></span>
  <% end %>
  </ul>
<% end %>

