<%= form_tag password_resets_path, :method => :post do %>
  
	<div class="form-group">
	    <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Email', required: true %>
	</div>

	<div class="form-group">
	    <%= submit_tag "Reset my password", class: 'btn btn-base' %>    
	</div>

<% end %>