<%=form_tag password_resets_path, :method => :post do %>
  
	<div class="form-group">
	    <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Email', required: true %>
	</div>

	<div class="form-group">
	    <%= submit_tag "Reset my password", class: 'btn btn-primary' %>    
	</div>

 <%end %>


 <!-- <form name="form">

 	E-mail:
    <input type="email" ng-model="user.email" name="uEmail" required="" />
    <br />
    <div ng-show="form.$submitted || form.uEmail.$touched">
      <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
      <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
    </div>

	<input type="button" ng-click="reset(form)" value="Reset" />
    <input type="submit" ng-click="update(user)" value="Save" />

</form> -->