<%= form_tag password_resets_path, :method => :post do %>
<div class="form-group">
	<div class="col-md-6">
	    <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Email', required: true %>
    </div>
    <div class="col-md-6">
	    <%= submit_tag "Reset password!", class: 'btn btn-danger' %>
    </div>
</div>
<% end %>