<div class='container'>

<div class='row'>
  <div class="col-sm-offset-3 col-sm-6 well text-center">
    <h2>Log in</h2>
    <%= render 'form', user: @user %>
	</div>
</div>

<div class='row'>
	<div class="col-sm-offset-3 col-sm-6 text-center">
		<h4>Click <%= link_to "/signup", method: :get do %>
    		<button type="button" class="btn btn-success">Sign up</button>
    	<% end %> to create a new account</h3>
    </div>
</div>

<div class='row'>
  <div class="col-sm-offset-4 col-sm-4 well dark text-center">
    <h4>Forgot your password?</h4>
    <%= render 'forgot_password_form' %>
	</div>
</div>

</div>