<div ng-controller="ProductController as productCtrl" class="product">
  <div class="container">
    <div class="card">
      <form ng-submit="searchAgain()">
        <input type:"text" class="form-control research" placeholder="Type a search term and press enter to search again..." ng-model="searchText">
      </form>
    </div>

    <div class="card">
      <div class="card-block">
        <!-- Edit here for new.html -->
        <span tooltip-trigger="mouseenter" class="pull-right title"><b>{{product.name}} &nbsp;</b></span>
        <img class="card-img-top show-logo" src="{{product.logo_url}}" alt="">
      </div>
      <div class="card-block">
        <div class="form-group col-md-12">
          <label for="InputTechName">Name</label>
          <input type="text" class="form-control" id="InputTechName" ng-model="product.name"><br>
          <label for="InputTechName">Website</label>
          <input type="text" class="form-control" id="InputTechWebsite" ng-model="product.website"><br>
          <label for="InputTechName">Twitter handle</label>
          <input type="text" class="form-control" id="InputTechTwitter" ng-model="product.twitter"><br>
          <label for="InputTechName">Contact email</label>
          <input type="email" class="form-control" id="InputTechEmail" ng-model="product.email"><br>
          <label for="InputTechName">Tile summary (116 chars.)</label>
          <textarea maxlength="116" class="form-control" id="InputTechDescription" ng-model="product.description" title="Describe what this technology does as clearly as possible in 116 characters. Omit buzzwords and sensational claims." rows="3"></textarea>
        </div>
      </div>
      <div class="card-block">
        <div class="form-group col-md-12">
          <label for="InputTechName">Detailed Description</label>
          <textarea class="form-control" ng-model="product.detailed_description" title="Describe what the technology allows users to do in non-technical terms. Please include a few summary sentences, a bulleted “How-to Overview” section, and a bulleted “Features” section." rows="8"></textarea>
        </div>
        <p class="col-md-12 lead" ng-bind-html="product.detailed_description"></p>
        <div class="form-group col-md-12">
          <label for="InputTechName">Costs</label>
          <textarea class="form-control" ng-model="product.costs" rows="8"></textarea>
        </div>
        <p class="col-md-12 lead" ng-bind-html="product.costs"></p>
        <div class="form-group col-md-12">
          <label for="InputTechName">Technical Specifications</label>
          <textarea class="form-control" ng-model="product.tech_specs" rows="8"></textarea>
        </div>
        <p class="col-md-12 lead" ng-bind-html="product.tech_specs"></p>
        <div class="form-group col-md-12">
          <label for="InputTechName">External Resources</label>
          <textarea class="form-control" ng-model="product.resources" rows="8"></textarea>
        </div>
        <p class="col-md-12 lead final" ng-bind-html="product.resources"></p>
        <div class="row center">
          <!-- Edit these 3 lines for new.html -->
          <p class="lead"><b>Finished?</b> Click submit and we'll review your edits, pronto.</p>
          <a href="/marketplace/" id="submit" class="btn btn-danger" type="button">Cancel</a>
          <button ng-click="newProduct()" id="submit" class="btn btn-success" type="submit">Submit New Product</button>
        </div>
      </div>
      <div class="card-footer noisy text-muted small">
        <p>The following information will help social impact organizations find the right technology to fit their needs. The “tile summary” is the main listing on openMarketplace. The filter tags help organizations sort through numerous technologies based on their needs, location, field users, and other factors.</p>
        <p>We encourage suggestions from all members of the community whether they be product developers, consultants, or end-user organizations. There are a few required fields that cover basic and summary information. Beyond that, we ask that listings focus on the functionality of each technology and what it enables users to do and avoid statements that place more value on one technology over another. Your submission must be reviewed and accepted by one of the core contributors at openfn before it is updated. Again, please refrain from using value words to ensure the listing is accepted promptly.</p>
        <p>Terms and Conditions: OpenFn reserves editorial decision-making power over listings that are published. We reserve the right to edit posts or request revisions. In the spirit of openness, we also maintain the right to indicate the author of listings on the openMarketplace.</p>
      </div>
    </div>
  </div>
</div>