<div ng-controller="ProductController as productCtrl" class="row">
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
  <!-- Filters -->
  </div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"> 
    <div class="search-container row">
      <div class="search-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>open<strong>Marketplace</strong></h3>
        <h4 class="sub-heading"><strong>Find the technology you need to grow your impact.</strong></h4>
        <div class="search-field no-padding col-lg-8 col-md-8 col-sm-6 col-xs-12">
          <form ng-submit="searchAgain()">
            <input type:"text" class="form-control" placeholder="Start typing to search..." ng-model="searchText">
          </form>
        </div>
        <div class="btn-group search-type">
          <label class="btn btn-default search-button" ng-click="searchAgain()">Search</label>
        </div>
      </div>
    </div>
    
    <div class="show-product">
      <h2 class="name">
        {{product.name}}
      </h2>
      <div class='rating'>
        <i class="glyphicon glyphicon-star"></i>
        <i class="glyphicon glyphicon-star"></i>
        <i class="glyphicon glyphicon-star"></i>
        (7)
      </div>
      <div class='actions'>
        <a ng-href="{{product.website}}" target="_blank"><i class="glyphicon glyphicon-link"></i></a>
        <a ng-href="{{product.update_link}}" target="_blank"><i class="glyphicon glyphicon-edit"></i></a>
      </div>


      <tabset>
        <tab heading="Description" class="description">
          <div class="tab-content-text" ng-bind-html="product.detailed_description"></div>
          <div class="tag-list">
            <span ng-repeat="tag in product.tag_list" class="tag label label-info" >{{tag}}</span>
          </div>
        </tab>
        <tab heading="Costs">
          <div class="tab-content-text" ng-bind-html="product.costs"></div>
          <div class="tag-list">
            <span ng-repeat="tag in product.tag_list" class="tag label label-info">{{tag}}</span>
          </div>
        </tab>
        <tab heading="Reviews">
          <div class="tab-content-text" ng-bind-html="product.reviews"></div>
          <div class="tag-list">
            <span ng-repeat="tag in product.tag_list" class="tag label label-info">{{tag}}</span>
          </div>
        </tab>
        <tab heading="Resources">
          <div class="tab-content-text" ng-bind-html="product.resources"></div>
          <div class="tag-list">
            <span ng-repeat="tag in product.tag_list" class="tag label label-info">{{tag}}</span>
          </div>
        </tab>
        <tab heading="Provider">
          <div class="tab-content-text" ng-bind-html="product.provider"></div>
          <div class="tag-list">
            <span ng-repeat="tag in product.tag_list" class="tag label label-info">{{tag}}</span>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>