<div ng-controller="ProductController as productCtrl" class="row">
<div class="ideas">
<header class="header-image">
  <div class="headline">
    <h1>open<strong>Marketplace</strong></h1>
    <h3>Find the technology you need to grow your impact.</h3>
 
    <div class="container">
      <div class="search-field">
        <form ng-submit="searchAgain()">
          <input type:"text" class="form-control" placeholder="Search again..." ng-model="searchText">
        </form>
      </div>

<!--

      <div class="btn-group search-type">
        <label class="btn btn-default search-button" ng-click="searchAgain()">Search</label>
      </div>

-->

      <div class="new-product-link">
          <a href="https://www.formstack.com/forms/?1874808-i8hgbPcov5" class="website-link" target="_blank">
          <i class="fa fa-plus"></i> Add your product...</a>

          <label style="margin-left:12em" class="btn website-link" ng-model="searchFilters.integrated" btn-checkbox>Integrated?</label>

      </div>
    </div>
</header>

<div class="featurette dark">
  <hr class="light">
  <hr class="dark">

  <div class="container">
    <div class="row flat">

      <div class="col-sm-10">
        <div class="show-product">
          <div class="product">
            <div class='rating'>
              <span class='live'>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              </span>
              &nbsp;(0)
            </div>
            <h3 class="title">
              {{product.name}}
            </h3>
            <div class='content'>
              <div class="tab-content-text" id="info-tab" ng-bind-html="product.detailed_description"></div>
              <div class="tab-content-text" ng-bind-html="product.costs"></div>
              <div class="tab-content-text" ng-bind-html="product.reviews"></div>
              <div class="tab-content-text" ng-bind-html="product.resources"></div>
              <span class="tab-content-text" ng-repeat="tag in product.tag_list">{{tag}}</span>
            </div>
            <div><br>
              <a ng-href="{{product.website}}" class="website-link" target="_blank">
                <i class="fa fa-external-link"></i>
              </a>              
              <a href="/mappings" class="vote-link" ng-show="product.integrated" ng-click="$event.stopPropagation()">
                <i class="fa fa-plug"></i>
              </a>
              <a ng-hide="product.integrated" class="vote-count">
                <span style="color: #F2EFE6"><i class="fa fa-angle-double-up"></i></span> {{product.votes_count}}<span style="color: #F2EFE6"></span>
              </a>
              <a ng-click="changeVoteFor(product)" class="vote-link" ng-show="!product.integrated">               
                <i ng-class="{'fa ' : true, 'fa-chevron-down' : product.hasVoteForUser, 'fa-chevron-up' : !product.hasVoteForUser}"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked">
          <tab heading="Description" a href="#info-tab" data-toggle="tab"></tab>
          <tab heading="Costs"></tab>
          <tab heading="Reviews"></tab>
          <tab heading="Resources"></tab>
          <tab heading="Provider"></tab>
        </ul>
      </div>
    
    </div>

      <tabset>
        <tab heading="Description" class="description">
          <div class="tab-content-text" ng-bind-html="product.detailed_description"></div>
          <div class="tag-list">
            <span ng-repeat="tag in product.tag_list" class="tag label label-info" >{{tag}}</span>
          </div>
        </tab>
        <tab heading="Costs">
          <div class="tab-content-text" ng-bind-html="product.costs"></div>
          <div class="tag-list">
            <span ng-repeat="tag in product.tag_list" class="tag label label-info">{{tag}}</span>
          </div>
        </tab>
        <tab heading="Reviews">
          <div class="tab-content-text" ng-bind-html="product.reviews"></div>
          <div class="tag-list">
            <span ng-repeat="tag in product.tag_list" class="tag label label-info">{{tag}}</span>
          </div>
        </tab>
        <tab heading="Resources">
          <div class="tab-content-text" ng-bind-html="product.resources"></div>
          <div class="tag-list">
            <span ng-repeat="tag in product.tag_list" class="tag label label-info">{{tag}}</span>
          </div>
        </tab>
        <tab heading="Provider">
          <div class="tab-content-text" ng-bind-html="product.provider"></div>
          <div class="tag-list">
            <span ng-repeat="tag in product.tag_list" class="tag label label-info">{{tag}}</span>
          </div>
        </tab>
      </tabset>