<div class="tags">
  <div ng-hide="editTags" ng-repeat="tag in product.deep_tag_list track by $index" class="tag label">
    {{tag.name}} <span class="badge">{{tag.taggings_count}}</span>
  </div>
  <a class="xxx tag label" ng-hide="editTags" ng-click="showEditTagsBox()">Edit Tags <span class="badge">+/-</span></a>

  <div ng-show="editTags">
    <div class="tag-editor">
      <span ng-repeat="n in product.deep_tag_list track by $index" class="on tag label" ng-click="deleteTag(n,product)" title="Remove this tag.">
        {{n.name}} <span class="badge">{{n.taggings_count}}</span>
      </span>
        <input type="text" class="search-tags" placeholder="Type here to tag..." ng-model="searchTagText" ng-change="searchTags(searchTagText,product)">
    </div>
    <div class="tag-suggestions">
      <div ng-repeat="tag in tag_match | orderBy:'name' | orderBy:'-tag_count'" >
        <a ng-click="addTag(tag,product)" title="Add this tag" class="off tag label">
          {{tag.name}} <span class="badge">{{tag.taggings_count}}</span>
        </a>
      </div>
      <a class="off tag label" ng-show="new_tag" ng-click="addNewTag(product)">
        <i class="fa fa-plus"></i> Create new tag... <span class="badge">+</span>
      </a>
    </div>
    <br><br>
    <div class="text-center">
      <button ng-click="updateProduct(product)" class="btn btn-default" type="submit">Submit</button>
    </div>
  </div>
</div>