<div class="ideas">

<header class="header-image">
  <div class="headline">
    <h1>
      <strong>Thank you!</strong>
    </h1>
    <h3>
      Your <strong>support</strong> is what keeps open[Fn] connecting.
    </h3>
  </div>
</header>

<div class="featurette dark">
  <hr class="light">
  <hr class="dark">
    <div class="container">
	    <br>
        <div class="row flat">
    			You donated <strong>$<%= @amount.to_i / 100 %></strong> and will receive an email receipt from Stripe shortly with our Tax ID number. Thank you so much.
          <br>
          <br>
          — the open[Fn] team
		</div>
	</div>
</div>
</div>